/**
 * lolol
 * by pipecork/maxdavid
 */

body {
  margin: 15% auto 30px auto;
  font-family: Consolas, Courier, monospace;
  font-size: 16pt;
}

.content {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
}

.quote {
  line-height: 1.5;
}

.action {
  color: gray;
}

.movie-title {
  padding: 20px 0 10px 15%;
  font-style: italic;
  font-size: 80%;
  color: gray;
}
